@tailwind base;
@tailwind components;
@tailwind utilities;

.Bebas_Neue{
  font-family: var(--font-Bebas_Neue);
}
.Josefin_Sans{
  font-family: var(--font-Josefin_Sans);
}
.Open_Sans{
  font-family: var(--font-Open_Sans);
}
.Poppins{
  font-family: var(--font-Poppins);
}
.Poppind{
  font-family: var(--font-Poppind);
}
.Poppin{
  font-family: var(--font-Poppin);
}
.playfair_display{
  font-family: var(--font-playfair_display);
}
  .text-black {
        color:  black; 
        -webkit-text-stroke: 1px white; 
      }
      
      .text-black::after {
        content: attr(data-shadow-text);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        color: black; 
      }
     
      .PORTFOLIO {
        width: 1030px;
        height: 75px;
        margin: 145.9px 14px 2.1px 0;
       
        font-size: 24px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 7.2px;
        text-align: left;
        color: #7b61ff;
      }
h1{
position:relative;
left:40px;
}
      h1::before{
        content:"";
        background-color:rgb(116, 9, 255);
        position:absolute;
  top:10px;
  left:-32px;
        height:4px;
        width:23px;


      }



      .dropslash:hover::after{
        content:"";
        background-color:rgb(116, 9, 255);
       
 
        height:3px;
        width:30px;


      }
      /* components/Testimonials.module.css */
.testimonials {
  background-color: #1e1e1e;
  padding: 2rem;
  text-align: center;
  color: white;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.subheading {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.carousel {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.testimonial {
  background-color: #2a2a2a;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: left;
  transition: transform 0.5s ease-in-out;
}

.rating {
  color: #ffd700;
  font-size: 1.5rem;
}

.text {
  margin: 1rem 0;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.name {
  margin: 0;
  font-size: 1rem;
}

.role {
  margin: 0;
  font-size: 0.875rem;
  color: #aaa;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}

.slick-prev {
  left: -2rem;
}

.slick-next {
  right: -2rem;
}

.slick-dots li button:before {
  color: white;
}


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logos {
  overflow: hidden;
 padding:0 10px;

  white-space: nowrap;

}

.logos:hover  .logos-slide{
  animation-play-state: paused;
 
}

.logos-slide {
  display: inline-block;
  
  animation: 35s slide infinite linear;
}

.logos-slide span {
  
  height:50px;
  margin: 0 40px;
}
.toggle-button {
  display: none;
}
@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }
  .toggle-button {
    display: block;
  }
  
}



#slider{
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  text-align: center;
}

#slider input[type=radio] {
  display: none;

}
#slider label{
  cursor:pointer;
  text-decoration: none;
}
#slides {
  padding: 10px;
  border: 3px solid #ccc;
  background: #fff;
  position: relative;
  z-index: 1;
}

#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides.inner {
  margin-left: 0;
}
#slide2:checked ~ #slides.inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides.inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides.inner {
  margin-left: -300%;
}

#slides .inner{
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175,1.000);
  width: 400%;
  line-height: 0;
  height: 200px;
}
#slides .slide {
  width:25%;
  float:left;
  display: block;
  height:100%;
  color:#fff;
}
#slides ,slide_1{
  background: black;
}
#slides ,slide_2{
  background: white;
}
#slides ,slide_3{
  background: blue;
}
#slides ,slide_4{
  background: green;
}

.slide-content {
  padding: 10px;
}

#controls {
  margin:-130px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls label{
  transition:  opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: .4;
}
#controls label:hover{
opacity: 1;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide1:checked ~ #controls label:nth-child(3),
#slide1:checked ~ #controls label:nth-child(4),
#slide1:checked ~ #controls label:nth-child(1){
  background:url(https://cdn-icons-png.flaticon.com/512/9688/9688189.png) no-repeat;
float: right;
margin: 0 -50px 0 0;
display: block;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide1:checked ~ #controls label:nth-child(3),
#slide1:checked ~ #controls label:nth-child(4),
#slide1:checked ~ #controls label:nth-child(1){
  background:url(https://cdn-icons-png.flaticon.com/512/130/130882.png) no-repeat;
float: left;
margin: 0 0 0 -50px;
display: block;
}

#bullet {
  margin:100px 0 0;
  text-align: center;

}
#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
background: #444;
}





/*card animation*/

/* styles/Card.module.css */
.card {
  position: relative;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(+100px); /* Start slightly below its original position */
  transition: transform 0.8s ease-out, opacity 0.8s ease-out; /* Smooth transition */
  overflow: hidden;
}

.card.visible {
  transform: translateY(0); 
  /* Bring the card to its original position */
  opacity: 1;
  
}

.card.fixed {
  transform: translateY(0); /* Fix the card in place after the initial animation */
  opacity: 1;
  transition: none; /* Disable further transitions */
}

.card:hover {
  transform: perspective(1000px) rotateY(-10deg);
}

.card:hover .viewMore {
  display: block;
}




.image {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.content {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  color: white;
}


/* content*/

.text {
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

/*Cursor*/
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
 
  
 
  background-color: black;

  position: relative;
 
}

.view-more {
  position: fixed;
  opacity: 0.5;
  background-color: black;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
.view-mores {
  position: fixed;
  
  background-color: white;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
/*card animation try*/
.banner{
  width: 100%;
 
  background-image: linear-gradient(rgba(0,0,0,0.40), rgba(0,0,0,0.40));
  background-position: center;
  background-size:center ;
}

.banner video{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
@media(min-aspect-ratio: 16/9){
  .banner video{
    width: 100%;
    height: auto;
  }
}



/*Coming soon */


.containerx {
  display: flex;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.containerx .image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.containerx header {
  font-size: 60px;
 
  font-weight: 600;
  text-align: center;
}
.containerx p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  max-width: 550px;
  text-align: center;
}
.containerx .time-content {
  display: flex;
  column-gap: 30px;
  align-items: center;
}
.time-content .time {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.time .number,
.time .text {
  font-weight: 500;
  color: #fff;
}
.time .number {
  font-size: 40px;
}
.time .text {
  text-transform: capitalize;
  font-size: 12px;
}

@media screen and (max-width: 300px) {
  .containerx header {
    font-size: 50px;
  }
}





.Glassy{
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}




.custom-filter:hover img {
  filter: sepia(100%) saturate(869%) hue-rotate(236deg) brightness(100%) contrast(800%)
}
/*
.custom-filter>img:hover {
  filter:  sepia(91%) saturate(5169%) hue-rotate(236deg) brightness(96%) contrast(100%);
}
.custom-filter:hover img {
  filter: invert(34%) sepia(91%) saturate(5169%) hue-rotate(236deg) brightness(96%) contrast(100%);
}*/



.navbar{
  /*background-image: url('/Navbarbg.png'); */

 
height: 400px;


  background-image: url('/Navbarbg.png');
  background-size: cover;
  background-position: center;
  background-color: rgba(73, 71, 71, 0.5); /* The dark overlay color */
  background-blend-mode: multiply; /* The blend mode */
  /* Adjust as needed */
   /* Ensure your text is white */
  padding: 20px;
  image-rendering: high-quality;
  image-resolution: from-image 300dpi;
  image-resolution: inherit;
  -webkit-transform: scale(0.999);
  transform: scale(0.999);

}
@media screen and (max-width:720px) {
  .navbar{
    /*background-image: url('/Navbarbg.png'); */
    background-color: black;
    background-size: cover;
  height: 600px;
  opacity: 0.8;
  
  
  }
}
.img-boxs.active{
  opacity:1;
 bottom:50px;
  left:30px;
  right:30px;
  font-size:13px;
}
.img-boxs.active{
  opacity:1;
 bottom:50px;
  left:30px;
  right:30px;
  font-size:13px;
}
@media screen and (min-width:1530px) and (max-width:2200px) {
  .navbar{
   
  background-image: url('/Navbarbg.png');
  background-size: cover;
  background-position: center;
  background-color: rgba(42, 42, 44, 0.5); /* The dark overlay color */
  background-blend-mode: multiply; /* The blend mode */
  /* Adjust as needed */
   /* Ensure your text is white */
  padding: 20px;


   
   
    
  height: 600px;
 
  
  
  }
  iframe{
    width:1600px;
    }
}

.gallery{
  display:flex;
  align-items:center;
  justify-content:center;

}
.img-box{
width:120px;
height:350px;
margin:2px;
border-radius:30px;
background-color:black;
background-size:cover;
background-position:cover;  
position:relative;
transition:width 0.5s;
}
.box{
width:300px;
height:350px;
margin:10px;
border-radius:30px;
background-color:black;
background-size:cover;
background-position:cover;  
position:relative;
transition:width 0.5s;
}
.box:hover{
width:120px;
cursor:pointer;
}
.img-box:nth-child(2){
  background-color:black;
  background-size:cover;
background-position:cover; 
}
.img-box:nth-child(3){
  background-color:black;
  background-size:cover;
background-position:cover; 
}
.img-box:nth-child(4){
  background-color:black;
  background-size:cover;
background-position:cover; 
}
.img-box:nth-child(5){
  background-color:black;
  background-size:cover;
background-position:cover; 
}
.img-box:nth-child(6){
  background-color:black;
  background-size:cover;
background-position:cover; 
}
.round{
border:1px solid white;
border-radius: 25px;
padding:10px 10px 10px 10px;
width:200px;
margin:10px;
}
.head{
font-size:18px;
}
.img-boxs {
  color:#fff;
  position:absolute;
  
  opacity:0;
  
}
.img-boxs.active{
opacity:1;
bottom:50px;
left:30px;
right:30px;
font-size:13px;
}
.img-box:hover{
width:300px;
cursor:pointer;
}
.img-boxss {
color:#fff;
position:absolute;
bottom:50px;
  left:30px;
  right:30px;
opacity:1;
transition:bottom 0.5s,opacity 0.5s;
font-size:13px;
}
.img-boxss:hover{
opacity:0;
bottom:0;
}


.img-boxs.active{
  opacity:1;
 bottom:50px;
  left:30px;
  right:30px;
  font-size:13px;
}
.gallerrys {
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
  overflow:hidden;
  margin-top:10px;
 }
.containers {
  display:flex;
  align-items:center;
    justify-content:center;
  width:auto;
  margin-top:30px;
}

.panel {
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
  height:40vh;
  width:100px;
  border-radius:20px;
  color:#fff;
  cursor:pointer;
  flex:0.5s;
  margin:3px;
  position:relative;
  transition: transform 700ms ease-in; /* Smooth transition for transform and opacity */
  transform: scale(1);
  opacity: 0.8;
}


.panel.active{
  flex:5;
  /* Slightly enlarge the active panel */
  opacity: 1; /* Make the active panel fully opaque */
   
}

.panel.active .img-boxs{
  opacity:1;
  bottom:50px;
  left:40px;
  right:30px;
  font-size:13px;
  transition:opacity 0.3s  ease-in 0.4;
}


@media only screen and  (max-width:430px){
  .containers {
    width:80vw;
    transition:opacity 0.3s ease-in 0.4s;
  }
  .containers {
    display:flex;
    align-items:center;
      justify-content:center;
    width:auto;
    margin-top:30px;
    height:auto;
  }
  
  .panel {
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    height:200px;
    width:12px;
    border-radius:10px;
    color:#fff;
    cursor:pointer;
    flex:0.5s;
    margin:2px;
    position:relative;
    transition: transform 700ms ease-in; /* Smooth transition for transform and opacity */
    transform: scale(1);
    opacity: 0.8;  }

  .panel.active .img-boxs{
    opacity:1;
    bottom:20px;
    left:5px;
    right:2px;
    font-size:8px;
    transition:opacity 0.3s  ease-in 0.4s;
  }

  .head{
    font-size:10px;
  }
  .round{
    border:1px solid white;
    border-radius: 25px;
    padding:0.5px 0.5px 0.5px 0.5px;
    font-size:8px;
    left:0px;
  }
  iframe{
    width:300px;
    }
}


@media only screen and (min-width:430px) and (max-width: 500px) {
  .containers {
    width:80vw;
    transition:opacity 0.3s ease-in 0.4s;
  }
  .containers {
    display:flex;
    align-items:center;
      justify-content:center;
    width:auto;
    margin-top:30px;
    height:auto;
  }
  
  .panel {
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    height:180px;
    width:25px;
    border-radius:10px;
    color:#fff;
    cursor:pointer;
    flex:0.5s;
    margin:3px;
    position:relative;
    transition: transform 700ms ease-in; /* Smooth transition for transform and opacity */
    transform: scale(1);
    opacity: 0.8;  }

  .panel.active .img-boxs{
    opacity:1;
    bottom:20px;
    left:10px;
    right:10px;
    font-size:8px;
    transition:opacity 0.3s  ease-in 0.4s;
  }
   
     
      .img-boxs {
        color:#fff;
        position:absolute;
        bottom:0;
        left:30px;
        opacity:0;
        font-size:8px;
        transition:bottom 0.5s,opacity 0.5s;
    }
    .img-boxs:hover{
      color:#fff;
      position:absolute;
      bottom:25px;
      left:10px;
      right:10px;
      opacity:1;
      transition:bottom 0.5s,opacity 0.5s;
      font-size:6px;
  }
  .head{
    font-size:10px;
  }
  .round{
    border:1px solid white;
    border-radius: 25px;
    font-size:8px;
   padding:1px 0px 1px 0px ;
    left:0px;
  }
     }
     @media only screen and (min-width:500px) and (max-width: 640px) {
      .containers {
        width:80vw;
        transition:opacity 0.3s ease-in 0.4s;
      }
      .containers {
        display:flex;
        align-items:center;
          justify-content:center;
        width:auto;
        margin-top:30px;
        height:auto;
      }
      

      
      .panel {
        background-size:cover;
        background-position:center;
        background-repeat: no-repeat;
        height:160px;
        width:40px;
        border-radius:10px;
        color:#fff;
        cursor:pointer;
        flex:0.5s;
        margin:3px;
        position:relative;
        transition: transform 700ms ease-in; /* Smooth transition for transform and opacity */
        transform: scale(1);
        opacity: 0.8;      }
    
      .panel.active .img-boxs{
        opacity:1;
        bottom:20px;
        left:10px;
        right:10px;
        font-size:8px;
        transition:opacity 0.3s  ease-in 0.4s;
      }
       
         
          .img-boxs {
            color:#fff;
            position:absolute;
            bottom:0;
            left:30px;
            opacity:0;
            font-size:8px;
            transition:bottom 0.5s,opacity 0.5s;
        }
        .img-boxs:hover{
          color:#fff;
          position:absolute;
          bottom:25px;
          left:10px;
          right:10px;
          opacity:1;
          transition:bottom 0.5s,opacity 0.5s;
          font-size:6px;
      }
      .head{
        font-size:10px;
      }
      .round{
        border:1px solid white;
        border-radius: 25px;
        font-size:10px;
       padding:1px 1px 1px 1px ;
        left:0px;
      }
      iframe{
        width:460px;
        }
         }
    

     @media only screen and (min-width : 640px) and (max-width: 768px) {
      .containers {
        width:80vw;
        transition:opacity 0.3s ease-in 0.4s;
      }
      .containers {
        display:flex;
        align-items:center;
          justify-content:center;
        width:auto;
        margin-top:30px;
        height:auto;
      }
      
      .panel {
        background-size:cover;
        background-position:center;
        background-repeat: no-repeat;
        height:200px;
        width:60px;
        border-radius:10px;
        color:#fff;
        cursor:pointer;
        flex:0.5s;
        margin:3px;
        position:relative;
        transition: transform 700ms ease-in; /* Smooth transition for transform and opacity */
        transform: scale(1);
        opacity: 0.8;      }
    
      .panel.active .img-boxs{
        opacity:1;
        bottom:20px;
        left:10px;
        right:10px;
        font-size:10px;
        transition:opacity 0.3s  ease-in 0.4s;
      }
      
      .head{
        font-size:15px;
      }
     
     
      .round{
        border:1px solid white;
        border-radius: 25px;
        padding:4px 2px 4px 4px;
        font-size:10px;
      }
      
    
    }

    @media only screen and (min-width : 768px) and (max-width: 900px) {
      
      .containers {
        
        transition:opacity 0.3s ease-in 0.4s;
      }
      .containers {
        display:flex;
        align-items:center;
          justify-content:center;
        width:auto;
        margin-top:30px;
        height:auto;
      }
      
      .panel {
        background-size:cover;
        background-position:center;
        background-repeat: no-repeat;
        height:330px;
        width:50px;
        border-radius:10px;
        color:#fff;
        cursor:pointer;
        flex:0.5s;
        margin:3px;
        position:relative;
        transition: transform 700ms ease-in; /* Smooth transition for transform and opacity */
        transform: scale(1);
        opacity: 0.8;      }
    
      .panel.active .img-boxs{
        opacity:1;
        bottom:20px;
        left:10px;
        right:10px;
        font-size:12px;
        transition:opacity 0.3s  ease-in 0.4s;
      }
      
      .head{
        font-size:15px;
      }
      
      .round{
        border:1px solid white;
        border-radius: 25px;
        padding:4px 4px 4px 1px;
      }
      iframe{
        width:600px;
        }
    }

    @media only screen and (min-width : 900px) and (max-width: 1024px) {
      
      .containers {
        
        transition:opacity 0.3s ease-in 0.4s;
      }
      .containers {
        display:flex;
        align-items:center;
          justify-content:center;
        width:auto;
        margin-top:30px;
        height:auto;
      }
      
      .panel {
        background-size:cover;
        background-position:center;
        background-repeat: no-repeat;
        height:300px;
        width:80px;
        border-radius:10px;
        color:#fff;
        cursor:pointer;
        flex:0.5s;
        margin:3px;
        position:relative;
        transition: transform 700ms ease-in; /* Smooth transition for transform and opacity */
        transform: scale(1);
        opacity: 0.8;      }
    
      .panel.active .img-boxs{
        opacity:1;
        bottom:20px;
        left:10px;
        right:10px;
        font-size:12px;
      }
      
      .head{
        font-size:15px;
      }
      
      .round{
        border:1px solid white;
        border-radius: 25px;
        padding:4px 4px 4px 1px;
      }
      iframe{
        width:760px;
        }
    }


    @media only screen and (min-width : 1024px) and (max-width: 1240px) {
     
      .containers {
        width:80vw;
        transition:opacity 0.3s ease-in 0.4s;
      }
      .containers {
        display:flex;
        align-items:center;
          justify-content:center;
        width:auto;
        margin-top:30px;
        
      }
      
      .panel {
        background-size:cover;
        background-position:center;
        background-repeat: no-repeat;
        height:320px;
        width:80px;
        border-radius:10px;
        color:#fff;
        cursor:pointer;
        flex:0.5s;
        margin:3px;
        position:relative;
        transition: transform 700ms ease-in; /* Smooth transition for transform and opacity */
  transform: scale(1);
  opacity: 0.8;
      }
    
      .panel.active .img-boxs{
        opacity:1;
        bottom:30px;
        left:20px;
        right:20px;
        font-size:13px;
      
      }
      
      .head{
        font-size:20px;
      }
      .round{
        border:1px solid white;
        border-radius: 25px;
        padding:1px 1px 1px 0px;
      }
      iframe{
        width:870px;
        }
     
    }


    @media only screen and (min-width : 1240px) and (max-width: 1530px) {
     
      .containers {
        width:70vw;
        transition:opacity 0.3s ease-in 0.4s;
      }
      .containers {
        display:flex;
        align-items:center;
          justify-content:center;
       
        margin-top:30px;
        
      }
      
      .panel {
        background-size:cover;
        background-position:center;
        background-repeat: no-repeat;
        height:340px;
        width:110px;
        border-radius:20px;
        color:#fff;
        cursor:pointer;
        flex:0.5s;
        margin:3px;
        position:relative;
        transition: transform 700ms ease-in; /* Smooth transition for transform and opacity */
        transform: scale(1);
        opacity: 0.8;
      }
    
      .panel.active .img-boxs{
        opacity:1;
        bottom:30px;
        left:20px;
        right:20px;
        font-size:15px;
      }
      
      .head{
        font-size:20px;
      }
      .round{
        border:1px solid white;
        border-radius: 25px;
        padding:4px 2px 2px 2px;
      }
      iframe{
        width:970px;
        }
    }
    .gallery{
      display:flex;
      align-items:center;
      justify-content:center;
  
  }
  .img-box{
    width:120px;
    height:350px;
    margin:2px;
    border-radius:30px;
    background-color:black;
    background-size:cover;
    background-position:cover;  
    position:relative;
    transition:width 0.5s;
  }
  .box{
    width:300px;
    height:350px;
    margin:10px;
    border-radius:30px;
    background-color:black;
    background-size:cover;
    background-position:cover;  
    position:relative;
    transition:width 0.5s;
  }
  .box:hover{
    width:120px;
    cursor:pointer;
  }
  .img-box:nth-child(2){
      background-color:black;
      background-size:cover;
    background-position:cover; 
  }
  .img-box:nth-child(3){
      background-color:black;
      background-size:cover;
    background-position:cover; 
  }
  .img-box:nth-child(4){
      background-color:black;
      background-size:cover;
    background-position:cover; 
  }
  .img-box:nth-child(5){
      background-color:black;
      background-size:cover;
    background-position:cover; 
  }
  .img-box:nth-child(6){
      background-color:black;
      background-size:cover;
    background-position:cover; 
  }
  .round{
    border:1px solid white;
    border-radius: 25px;
    padding:10px 10px 10px 10px;
    width:200px;
    margin:10px;
  }
  .head{
    font-size:18px;
  }
  .img-boxs {
      color:#fff;
      position:absolute;
      
      opacity:0;
      
  }
  .img-boxs.active{
    opacity:1;
   bottom:50px;
    left:30px;
    right:30px;
    font-size:13px;
  }
  .img-box:hover{
    width:300px;
    cursor:pointer;
  }
  .img-boxss {
    color:#fff;
    position:absolute;
    bottom:50px;
      left:30px;
      right:30px;
    opacity:1;
    transition:bottom 0.5s,opacity 0.5s;
    font-size:13px;
  }
  .img-boxss:hover{
    opacity:0;
    bottom:0;
  }
  
  
  .img-boxs.active{
      opacity:1;
     bottom:50px;
      left:30px;
      right:30px;
      font-size:13px;
  }
  .rounds{
    border:1px solid white;
    border-radius: 25px;
    width:180px;
    left:0px;
  }
  @media only screen and (max-width: 400px) {
    
      .gallery{
        display:flex;
          align-items:center;
          justify-content:center;
      
      }
      .img-box{
          width:15px;
          height:150px;
          margin:1.5px;
          border-radius:10px;
          background-color:black;
          background-size:cover;
          background-position:cover;  
          position:relative;
          transition:width 0.5s;
        }
       
        .img-boxs {
          color:#fff;
          position:absolute;
          bottom:0;
          left:30px;
          opacity:0;
          font-size:8px;
          transition:bottom 0.5s,opacity 0.5s;
      }
      .img-boxs:hover{
        color:#fff;
        position:absolute;
        bottom:25px;
        left:10px;
        right:10px;
        opacity:1;
        transition:bottom 0.5s,opacity 0.5s;
        font-size:4px;
    }
    .head{
      font-size:6px;
    }
    .round{
      border:1px solid white;
      border-radius: 25px;
     
     
      left:0px;
    }
       .img-box:hover{
          width:80px;
          cursor:pointer;
          font-size:10px;
          
      }
      .img-boxss {
        color:#fff;
        position:absolute;
        bottom:25px;
        left:10px;
        right:10px;
        opacity:1;
        transition:bottom 0.5s,opacity 0.5s;
        font-size:4px;
      }
      .img-boxss:hover{
        opacity:0;
        bottom:0;
      }
      .box{
        width:80px;
        height:150px;
        margin:1.5px;
        border-radius:10px;
        background-color:black;
        background-size:cover;
        background-position:cover;  
        position:relative;
        transition:width 0.5s;
        font-size:4px;
      }
      .box:hover{
        width:15px;
        cursor:pointer;
      }
      
      
    }
  
   
  
    @media only screen and (min-width : 1024px) and (max-width: 1280px) {
      .gallery{
          display:flex;
          align-items:center;
          justify-content:center;
      
      }
      .img-box{
          width:80px;
          height:300px;
          margin:1.5px;
          border-radius:15px;
          background-color:black;
          background-size:cover;
          background-position:cover;  
          position:relative;
          transition:width 0.5s;
        }
        .img-box:hover{
          width:200px;
          cursor:pointer;
      }
      .img-boxss {
        color:#fff;
        position:absolute;
        bottom:25px;
        left:30px;
        right:30px;
        opacity:1;
        transition:bottom 0.5s,opacity 0.5s;
      }
      .img-boxss:hover{
        opacity:0;
        bottom:0;
      }
      .box{
        width:200px;
        height:300px;
        margin:1.5px;
        border-radius:15px;
        background-color:black;
        background-size:cover;
        
        background-position:cover;  
        position:relative;
        transition:width 0.5s;
      }
      .box:hover{
        width:80px;
        cursor:pointer;
      }
      .round{
        border:1px solid white;
        border-radius: 25px;
        padding:4px;
      }
      .img-boxs {
        color:#fff;
        position:absolute;
        bottom:0;
        left:30px;
        right:30px;
        opacity:0;
        
       
    }
    .img-boxs:hover{
      color:#fff;
      position:absolute;
      bottom:25px;
      left:30px;
      opacity:1;
      
      
  }
    }

    @media only screen and (min-width:1279px) and (max-width: 1360px) {
      .imgco{
        width:240px;
        height:190px;
        margin:auto;
        padding:20px;
      }
      
      }
      @media only screen and (min-width:1360px) and (max-width: 1530px) {
        .imgco{
          width:250px;
        }
        }
      .Indus{
        background-size:cover;
          background-position: center;
        background: transparent url('../public/1indus.png') 0% 0% no-repeat padding-box;
      opacity: 1;
      }
         .Indus1{
          background:  transparent url('../public/Mobility.png') 0% 0% no-repeat padding-box;
          background-size:cover;
          background-position: center;
         
          opacity: 0.75;
         } 
         .Indus2{
          background:  transparent url('../public/Fintech.png') 0% 0% no-repeat padding-box;
          background-size:cover;
          background-position: center;
          
          opacity: 0.75;
         } 
         .Indus3{
          background:  transparent url('../public/Ecommerce.png') 0% 0% no-repeat padding-box;
          background-size:cover;
          background-position: center;
          
          opacity: 0.75;
         } 
         .Indus4{
          background:  transparent url('../public/Logistics.png') 0% 0% no-repeat padding-box;
          background-size:cover;
          background-position: center;
          
          opacity: 0.75;
         } 
         
      
         .Indus5{
          background:  transparent url('../public/Education.png') 0% 0% no-repeat padding-box;
          background-size:cover;
          background-position: center;
          opacity: 0.75;
         } 