@tailwind base;
@tailwind components;
@tailwind utilities;

.Bebas_Neue{
  font-family: var(--font-Bebas_Neue);
}
.Josefin_Sans{
  font-family: var(--font-Josefin_Sans);
}
.Open_Sans{
  font-family: var(--font-Open_Sans);
}
.Poppins{
  font-family: var(--font-Poppins);
}

    .text-black {
        color:  black; 
        -webkit-text-stroke: 1px white; 
      }
      
      .text-black::after {
        content: attr(data-shadow-text);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        color: black; 
      }
      .PORTFOLIO {
        width: 1030px;
        height: 75px;
        margin: 145.9px 14px 2.1px 0;
       
        font-size: 24px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 7.2px;
        text-align: left;
        color: #7b61ff;
      }
h1{
position:relative;
left:40px;
}
      h1::before{
        content:"";
        background-color:rgb(116, 9, 255);
        position:absolute;
  top:10px;
  left:-32px;
        height:4px;
        width:23px;


      }
      /* components/Testimonials.module.css */
.testimonials {
  background-color: #1e1e1e;
  padding: 2rem;
  text-align: center;
  color: white;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.subheading {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.carousel {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.testimonial {
  background-color: #2a2a2a;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: left;
  transition: transform 0.5s ease-in-out;
}

.rating {
  color: #ffd700;
  font-size: 1.5rem;
}

.text {
  margin: 1rem 0;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.name {
  margin: 0;
  font-size: 1rem;
}

.role {
  margin: 0;
  font-size: 0.875rem;
  color: #aaa;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}

.slick-prev {
  left: -2rem;
}

.slick-next {
  right: -2rem;
}

.slick-dots li button:before {
  color: white;
}


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logos {
  overflow: hidden;
 padding:0 10px;

  white-space: nowrap;

}

.logos:hover  .logos-slide{
  animation-play-state: paused;
 
}

.logos-slide {
  display: inline-block;
  
  animation: 35s slide infinite linear;
}

.logos-slide span {
  
  height:50px;
  margin: 0 40px;
}
.toggle-button {
  display: none;
}
@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }
  .toggle-button {
    display: block;
  }
  
}




















#slider{
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  text-align: center;
}

#slider input[type=radio] {
  display: none;

}
#slider label{
  cursor:pointer;
  text-decoration: none;
}
#slides {
  padding: 10px;
  border: 3px solid #ccc;
  background: #fff;
  position: relative;
  z-index: 1;
}

#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides.inner {
  margin-left: 0;
}
#slide2:checked ~ #slides.inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides.inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides.inner {
  margin-left: -300%;
}

#slides .inner{
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175,1.000);
  width: 400%;
  line-height: 0;
  height: 200px;
}
#slides .slide {
  width:25%;
  float:left;
  display: block;
  height:100%;
  color:#fff;
}
#slides ,slide_1{
  background: black;
}
#slides ,slide_2{
  background: white;
}
#slides ,slide_3{
  background: blue;
}
#slides ,slide_4{
  background: green;
}

.slide-content {
  padding: 10px;
}

#controls {
  margin:-130px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls label{
  transition:  opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: .4;
}
#controls label:hover{
opacity: 1;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide1:checked ~ #controls label:nth-child(3),
#slide1:checked ~ #controls label:nth-child(4),
#slide1:checked ~ #controls label:nth-child(1){
  background:url(https://cdn-icons-png.flaticon.com/512/9688/9688189.png) no-repeat;
float: right;
margin: 0 -50px 0 0;
display: block;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide1:checked ~ #controls label:nth-child(3),
#slide1:checked ~ #controls label:nth-child(4),
#slide1:checked ~ #controls label:nth-child(1){
  background:url(https://cdn-icons-png.flaticon.com/512/130/130882.png) no-repeat;
float: left;
margin: 0 0 0 -50px;
display: block;
}

#bullet {
  margin:100px 0 0;
  text-align: center;

}
#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
background: #444;
}
